In [7]:
import pandas as pd
from pathlib import Path

In [10]:
file_path= Path('./data/iris.csv')
iris_df=pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
 # Axis is dropping column axis =1, dropping rows axis =0

iris_df=iris_df.drop(['class'], axis=1)

In [23]:
new_order=['sepal_length','petal_length','sepal_width','petal_width']
new_iris_df=iris_df[new_order]
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [43]:
output_file_path = "data/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

PermissionError: [Errno 13] Permission denied: 'data/new_iris_data.csv'

In [44]:
file_path2= Path('./data/shopping_data.csv')
df_shopping= pd.read_csv(file_path2, encoding="ISO-8859-1")
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [45]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [46]:
# list of dataframe types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

See Article - How to Handle Missing Values saved in Chapter 18

In [47]:
# Find all null values with isnull function
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [48]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [49]:
# print duplicate rows no duplicate records
print(f"Duplicated rows:{df_shopping.duplicated().sum()}")

Duplicated rows:0

In [50]:
# drop columns
df_shopping.drop(columns=["CustomerID"], axis=1, inplace=True)

In [51]:
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [54]:
# convert card member to zero and 1  utllize apply function
# Transform String Column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
df_shopping["Card Member"]=df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [55]:
# Transfer annual income in thousand to balance scale among other variables
df_shopping["Annual Income"]=df_shopping["Annual Income"]/1000
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [61]:
# Rename column names
# df.rename(columns={"A": "a", "B": "c"})
df_shopping=df_shopping.rename(columns={"Card Member": "card_member", "Annual Income": "annual_income", "Spending Score (1-100)": "spending_score"})
df_shopping.head()

   card_member   Age  annual_income  spending_score
0            1  19.0           15.0            39.0
1            1  21.0           15.0            81.0
2            0  20.0           16.0             6.0
3            0  23.0           16.0            77.0
4            0  31.0           17.0            40.0

In [62]:
# saving cleaned data
file_path="data/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path,index=False)

In [ ]:
import warnings
warnings.filterwarnings('ignore')